x@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<h3>
    Welcome @Session["UserName"]
</h3>

<br />

<a href="/Student/List">Student List</a>

<br />
<br />

<a href="/Account/Logout">Logout</a>
Student Management System Project Completed