<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Content/Student.js"></script>

<h2>Add Student</h2>

<input type="hidden" id="hdnID" />

<p>Name</p>
<input type="text" id="txtName" />

<p>Course</p>
<input type="text" id="txtCourse" />

<p>Fees</p>
<input type="text" id="txtFees" />

<br />
<br />

<button type="button" onclick="SaveStudent()">Save</button>

